<!DOCTYPE html>
<html lang="en" ng-app="demoApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
  <title>Basic Angular Demo</title>

  <!--Bootstrap CDN, not actually needed for Angular-->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="container">

    <div class="row row-content">
      <div class="col-xs-12">
        <div ng-controller="demoController">
          <input type="text" ng-model="nameText" placeholder="Search">
          <ul>
            <li ng-repeat="person in people | filter:nameText | orderBy:'state'">{{ person.name }} - {{ person.state }}</li>
          </ul>
          <h3>Add a customer</h3> Name:
          <input type="text" ng-model="newPerson.name" placeholder="Name">
          <br /> State:
          <input type="text" ng-model="newPerson.state" placeholder="State">
          <br />
          <button ng-click="addPerson()">Add</button>
          <!--There are many directives you can call on buttons-->
        </div>
      </div>
    </div>

  </div>

  <!--Example of a basic module. This of coruse could be in an external JS file (and typically should be)-->
  <script>
    var demoApp = angular.module('demoApp', []); //Empty array is for dependencies

    //Assign a basic controller to this module
    demoApp.controller('demoController', function ($scope) {
      $scope.people = [{
        name: 'Al',
        state: 'Oklahoma'
      }, {
        name: 'Bob',
        state: 'Alaska'
      }, {
        name: 'Cat',
        state: 'Colorado'
      }]

      $scope.addPerson = function () {
        console.log('test');
        $scope.people.push({
          name: $scope.newPerson.name,
          state: $scope.newPerson.state
        });
      };

    });
  </script>
</body>
