* {
  outline: solid 1px red;
  /*Outline is a great way to see the box model of an element*/
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 2;
  background-color: aqua;
  /*Colors can be named, hex, or RGBA*/

}

/*Target IDs with #*/
#sectionID {
  width: 90%;
  margin: 0 auto;
  /*trick for centering block level elements*/
  padding: 10px;
  /*Padding is inside the border of an element */
  border: solid 1px green;
}

/*Target classes with . */
.spanClass {
  text-decoration: underline;
}

/*Target all instances of an element*/
nav {
  background-color: beige;
}

/*Target the child of an element*/
nav>ul {
  list-style-type: none;
  /*Or choose from other style types*/
}

nav>ul>li {
  display: inline-block;
  text-decoration: none;
}

nav>ul>li>a {
  text-decoration: none;
}

footer {
  background-image: url(https://placekitten.com/200/300);
  background-repeat: repeat;
  height: 400px;
}